In [4]:
lista_idades = [32, 44, 56, 78]
print(lista_idades)

[32, 44, 56, 78]

In [5]:
type(lista_idades)

list

In [10]:
lista_idades[3]

78

In [13]:
print(lista_idades[2])
print(lista_idades[1])

56
44

In [16]:
for idade in lista_idades:
    print(idade)

32
44
56
78

In [17]:
lista_idades.append(27)

In [19]:
print(lista_idades)

[32, 44, 56, 78, 27]

In [20]:
lista_idades.remove(56)

In [21]:
print(lista_idades)

[32, 44, 78, 27]

In [25]:
lista_idades.append(44)
lista_idades.remove(44)
lista_idades
# sempre remove a primeira aparição do dado.

[32, 78, 27, 36, 44]

In [3]:
idades = [32, 78, 27, 36, 44]

In [4]:
28 in idades

False

In [5]:
idades.insert(0, 28)

In [6]:
idades

[28, 32, 78, 27, 36, 44]

In [8]:
idades.append([39, 43])

In [9]:
for elemento in idades:
    print(f"Recebi o Elemento {elemento}")

Recebi o Elemento 28
Recebi o Elemento 32
Recebi o Elemento 78
Recebi o Elemento 27
Recebi o Elemento 36
Recebi o Elemento 44
Recebi o Elemento [39, 43]

In [10]:
idades = [32, 78, 27, 36, 44]

In [11]:
idades.extend([18, 72])

In [12]:
idades

[32, 78, 27, 36, 44, 18, 72]

In [1]:
import sqlite3

conn = sqlite3.connect('exemplo.db')
cursor = conn.cursor

cursor.execute('''CREATE TABLE IF NOT EXISTS usuarios (
                    id INTEGER PRIMARY KEY,
                    nome TEXT NOT NULL,
                    email TEXT NOT NULL
                )''')

conn.commit()

def criar_usuario(nome, email):
    cursor.execute('''INSERT INTO usuarios (nome, email) VALUES (?,?)''', (nome, email))
    conn.commit()

AttributeError: 'builtin_function_or_method' object has no attribute 'execute'